.open {
  display: inline-block;
}
.close {
  display: none;
}

.optionsList {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem;
  border:none;
  box-shadow: none;
  padding:0
}

.questionResultModal {
  border: none;
  box-shadow: var(--shadow);
  background: var(--bg);
  color: var(--text-h);
  border-radius: 0.5rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 88%;
  min-width:16em;
  height: 26rem;
  background-color: brown;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & p {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
}

.questionContainer {
  background-color:#2e303a;
  position:static;
  padding: 1em 1em 2em 1em;
}
.questionForm {
  width: 100%;
  position:static
}
.questionStatement {
  text-align:center
}
body {
  width: 100%;
  position: relative;
}

.submitAnswerBtn {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  transition: background-color 0.4s ease;
  font-size: 1.1em;
  margin-top: 1.75rem;
  margin-bottom: 2rem;
}

.submitAnswerBtn:hover {
  background-color:rgb(31, 209, 46);
}

.resetAnswersBtn {
  background-color: #883e9e;
  color: white;
  border: none;
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  transition: background-color 0.4s ease;
  font-size: 1.1em;
}

input[type="radio"] {
  width: 1.2rem;
  height: 1.2rem;
  font-size: 1.2em;
}
span.option {
    margin-left: 0.5em;
    font-size: 1.2em;
  }

section {
  margin-top:1em;
  margin-bottom:1em;
}

select {
  width: 12em;
  padding:0.25em;
  font-size: 1.1em;
} 
select option {
  width: 12em;
  font-size: 1.2em;
  padding: 0.25em;
}

.questionImg {
  width: 100%;
  height: auto
}

@media  (width < 900px) {
  select {
  width: 80%;
  min-width:16em;
  } 
  .questionContainer {
    padding: 0.125em 0.125em 1em 0.125em;
  }
}

@media  (width < 500px) {
  .questionStatement {
    text-align:center;
    margin-bottom: 1em;
  }
}

.clueImg {
  width: 100%;
  height: auto;
  animation: fadeIn 1.1s ease-in;
}

.countdownClock {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;  
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(350px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

footer {
  padding:1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.titleContainer {
  margin-bottom: 2em;
}